.favoriteIcon {
    position: absolute;
    top: 0;
    right: 0;
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 4rem;
}

.isFavorite {
    color: #ffb300;
}
