.favoriteIcon {
    position: absolute;
    top: 20px;
    right: 0;
    color: #9e9e9e;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    transition: color 0.15s ease, transform 0.2s ease;
}

.favoriteIcon:hover {
    transform: scale(1.1);
}

.isFavorite {
    color: #fabf3f;
}

:global(.night) .favoriteIcon {
    color: #fff;
}

:global(.night) .isFavorite {
    color: #fabf3f;
}
