.favoritesList {
    text-align: left;
    padding: 0px;
}

.favoritesList li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    cursor: pointer;
}

.favoritesList li:hover {
    color: olive;
}

.closeButton {
    cursor: pointer;
    border: none;
}
