.weatherInfo {
    position: relative;
}

.iconWrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #7eaaae;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.weatherInfo p {
    font-size: 0.8rem;
}
