:global(.Toastify__toast) {
    width: auto;
    min-width: 100px;
    max-width: 340px;
    font-family: inherit;
    user-select: none;
}

:global(.Toastify__toast-icon) {
    margin-left: 5px;
    margin-top: 8px;
    margin-right: 15px;
    align-self: flex-start;
}

:global(.Toastify__toast-icon svg) {
    fill: rgb(223, 182, 96);
}

:global(.Toastify__close-button) {
    align-self: flex-start;
    position: relative;
    top: -8px;
    right: 0px;
    margin-left: 40px;
}

:global(.Toastify__toast--success .Toastify__toast-icon svg) {
    fill: #859c1b;
}

:global(.Toastify__toast:hover .Toastify__close-button) {
    opacity: 0.6;
}
