.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.leftColumn {
    flex: 1;
    flex-basis: 40%;
    align-items: center;
    align-self: flex-start;
}

.rightColumn {
    flex: 1;
    flex-basis: 60%;
    flex-direction: column;
}

.block {
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
    .content {
        width: 100%;
        flex-direction: column;
    }

    .leftColumn,
    .rightColumn {
        flex-basis: 100%;
        align-self: unset;
    }
}
