.header {
    background-color: #7daaaf;
    color: #fff;
    width: 100%;
    padding: 15px 0 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    line-height: 100%;
    font-weight: lighter;
    font-size: 3.3rem;
    margin-bottom: 3px;
}

p {
    font-weight: lighter;
}
