.weatherInfo {
    position: relative;
}

.weatherInfo p {
    font-size: 0.8rem;
}

.temp {
    font-size: 100px;
    line-height: 108px;
}

.tempFeels {
}

.time {
    font-size: 24px;
}

.map {
    margin-top: 50px;
}
